
* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  padding: auto;
  margin: auto;
  height: 100%;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  text-align: center;
  background-color: #1b2a43;
  font-style: normal;
  font-weight: 300;
  line-height: 1.8;
  color: #ced6f3;
  letter-spacing: .03em;
  font-size: 1em;
}


nav {
  display: flex;
  justify-content: center;
  background-color: #0d192d;
  position: fixed;
  margin: 0 auto;
  z-index:1;
  padding: 1.5rem;
  text-align: left;
}
#navbar {
  font-family: 'Raleway', sans-serif;
  width: 100%;
}
ul {
  align-items: center;
}
a {
  text-decoration: none;
  color: #ced6f3;
  padding: 2rem;
  text-align: left;
}
header {
  background: url("./img/header.jpg");
  display: flex;
  background-size: cover;
  height: 100%;
}
#welcome-section {
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh

}
h1 {
  font-family: 'Playfair Display', cursive;
  font-size: 5rem;
  text-align: center;
  color: #ffffff;
  padding-top: 10rem;
  padding-right: 0rem;
}
h2 {
  font-family: 'Playfair Display', cursive;
}
#about {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  width: 50%;
  color: #ced6f3;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#coding {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  width: 50%;
  color: #ced6f3;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#fac {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  width: 50%;
  color: #ced6f3;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#whyme {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  width: 50%;
  color: #ced6f3;
  justify-content: center;
  align-items: center;
}

footer {
   padding: 20px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #0d192d;
   color: #50514f;
   text-align: center;
}

.prerecs {
  text-align: center;
  max-width: 1140px;
  margin: 20px auto;
}

.testimonial-carousel {
  background-image: url("./img/testimonials.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  height: 500px;
  position: relative;
  padding: 20px 0px;
  display: flex;
}
.testimonial-carousel .icon-container {
  position: relative;
  padding: 0 5px;
  max-width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
@media (min-width: 768px) {
  .testimonial-carousel .icon-container {
    max-width: 50px;
    padding: 0 10px;
  }
}
.testimonial-carousel .icon-container span.lnr {
  color: #dadada;
  font-size: 1.6em;
  cursor: pointer;
  transition: color 2.3s linear;
}
@media (min-width: 768px) {
  .testimonial-carousel .icon-container span.lnr {
    font-size: 2.6em;
  }
}
.testimonial-carousel .icon-container span.lnr:hover {
  color: #fff;
}
.testimonial-carousel p {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-style: oblique
}

@media (min-width: 768px) {
  .testimonial-carousel p {
    font-size: 1.6em;
  }
}

.testimonial-items {
  position: relative;
  flex: 1;
  overflow: hidden;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #fff;
}

.testimonial-item {
  width: 100%;
  height: 100%;
  transition: transform 2s;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonial-item p.testimonial-author {
  text-align: right;
  font-size: 1.2em;
}
.testimonial-item.first {
  left: 0;
}
.testimonial-item.second {
  left: 100%;
}
.testimonial-item.third {
  left: 200%;
}